
:root{
    --bgcolor: #6E60D1;
    --secondaryColor: #C1C8E4
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 10vh 80vh 10vh;
    background: linear-gradient( var(--bgcolor), var(--secondaryColor));
}
h2,h1{
    text-align: center;
}
/* header */
.header{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 3vh;
}
/* sideContainer */
.navBar{
    display: flex;
    flex-direction: column;
}
.sideContainer{
}
.navBtn{
    padding: 5%;
    font-size: 2vh;
    background:#904CE6;
    border-radius: 10px;
    margin: 1.5%;
}
/* mainContainer */
.mainContainer{
    text-align: center;
}
.taskContainer,.notesContainer{
    width: 79vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* task */
.taskForm-popup, .notesForm-pop{
    width: 50vw;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
    background: #fff;
    z-index: 1;
}
.domTaskElement{
    height: 5vh;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    border-radius: 10px;
    margin: 1.5%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background: var(--secondaryColor);
}
.createTaskFormBtn, .creatNotesFormBtn{
    width: 50vw;
    border-radius: 10px;
    height: 4vh;
    background: #4C6BE6;
}
.taskFormBtn{
    width: 100%;
}
.deleteElement{
    background: url("./icons/icons8-trash.svg") no-repeat;
    height: 3vh;
    width: 3vw;
    cursor: pointer;
}
.deleteElement:hover{
    transform: scale(1.1) translateZ(0);

}
/* important */

/*  */
.notesBtnContainer{
    text-align: center;
}
.creatNotesFormBtn{
    width: 50vw;
}


/* Notes */
.notesContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    padding: 2%;
}
.note{
    text-align: center;
    margin: 2%;
    height: 10vh;
    width: 25vw;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background: var(--secondaryColor);
    border-radius: 10px;
}
.deleteNote{
    background: url("./icons/icons8-trash.svg") no-repeat;
    position: absolute;
    width: 3vw;
    height: 3vh;
    top: 1vh;
    right: 1vw;
}


/* footer */
.footer{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    /* border: 2px solid orange; */

}